AGR_DB_HOST=127.0.0.1
AGR_DB_PORT=3306
AGR_DB_USER=agrarius
AGR_DB_PASS=
AGR_DB_NAME=agrarius_test

AGR_REDIS_HOST=127.0.0.1
AGR_REDIS_PORT=6379
AGR_REDIS_PASS=

AGR_REDIS_CHANNEL=ftbquests:team:updated

AGR_QUEST_LOCAL=./quests-snapshot

AGR_QUEST_CT=
AGR_PVE_HOST=
AGR_QUEST_DIR=/opt/agrarius/config/ftbquests/quests

WOT_LOGIN_URL=http://127.0.0.1:3005/WOT-zalohy/api/login
WOT_ME_URL=http://127.0.0.1:3005/WOT-zalohy/api/me
AGRARIUS_ROLES=admin
AGRARIUS_ADMINS=
